@model IEnumerable<CloudWorkSpace.DAL.DTO.Note>

@{
    ViewBag.Title = "Projects";
}
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">
            <i class="fa fa-pencil-square-o"></i> Comments / Notes <span class="" style="padding-left: 5px;"> <a href="~/Notes/Create" class="badge">Create New</a></span>
            <span class="pull-right">Total: @Model.Count()</span>
        </h3>
    </div>
    <div class="panel-body">
@foreach (var item in Model)
{
        <a href="~/Notes/Details/@item.NoteId" class="list-group-item">
            <span class="pull-right" style="padding-left: 5px;">ProjectId: <strong>@item.ProjectId</strong></span>
            <p class="pull-right" style="padding-left: 5px;">Created Date: <strong>@item.CreatedDate | </strong></p>
            <p class="pull-right" style="padding-left: 5px;">Topic: <strong>@item.Topic |</strong></p>
            <p><i class="fa fa-fw fa-pencil-square-o"></i>@item.Note_Comment</p>
        </a>
}

        <div class="col-sm-12">

            @*@{Html.RenderAction("PaginationPartial", "Home", new { page = ViewBag.PageNum });}*@

        </div>

    </div>
    <div class="panel-footer">
        <div class="list-group-item">
            <div class="row">
                <div class="col-sm-6">
                    <input type="search" class="form-control" placeholder="Search Notes" />
                </div>
            </div>            
        </div>
    </div>
</div>
